<h1>Edit {{theRecipe.title}}</h1>


<form action="/Recipes/{{theRecipe._id}}/update" method="POST">


  <label for="">Name:</label>
  <input type="text" name="title" value="{{theRecipe.name}}">

  <label for="">Ingredient:</label>
  <input type="text" name="ingredient" value="{{theRecipe.ingredient}}">
  {{!-- <select name="ingredient">
    {{#each allTheCelebritys}}
    {{#if this.yes}}
    <option value="{{this._id}}" selected="selected">{{this.firstName}} {{this.lastName}} </option>
    {{else}}
    <option value="{{this._id}}">{{this.firstName}} {{this.lastName}} </option>
    {{/if}}
    {{/each}}
  </select> --}}

  <label for="">Direction:</label>
  <input type="text" name="directions" value="{{theRecipe.directions}}">

  <label for="">Time to make:</label>
  <input type="number" name="time" value="{{theRecipe.time}}">

  {{!-- <label for="">Image Link:</label>
  <input type="text" name="image" value="{{theRecipe.image}}"> --}}

  <button type="submit">Save Changes</button>


</form>