<h1>hello</h1>

<h1>Edit {{theRecipe.name}}</h1>


<form action="/Recipes/{{theRecipe._id}}/update" method="POST">


  <label for="">Name:</label>
  <input type="text" name="name" value="{{theRecipe.name}}">

  <label for="">Ingredient:</label>
  <input type="text" name="ingredients" value="{{theRecipe.ingredient}}">
 

  <label for="">Direction:</label>
  <input type="text" name="directions" value="{{theRecipe.directions}}">

  <label for="">Time to make:</label>
  <input type="number" name="time" value="{{theRecipe.time}}">

  {{!-- <label for="">Image Link:</label>
  <input type="text" name="image" value="{{theRecipe.image}}"> --}}

  <button type="submit">Save Changes</button>


</form>